body {
    font-family: sans-serif;
    background-image: url("/~tatuti/Web_kehityksen_perusteet/pwa/Hello-PWA/images/taustakuva.png");
  }
  
  /* Make content area fill the entire browser window */
  html,
  .fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  /* Center the content in the browser window */
  .container {
    margin: auto;
    text-align: center;
  }
  
  .title {
    font-size: 3rem;
  }

  @font-face {
    src: url("/~tatuti/Web_kehityksen_perusteet/pwa/Hello-PWA/fontti/Poppins/Poppins-Bold.ttf");
    font-family:pop;
  }

  .fontti {
    font-size: 30px;
    line-height: 62px;
    font-family:pop;
  }